@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  'Open Sans', sans-serif;
}

.cajon {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas:
    "sup sup"
    "menu grilla"
    "pie pie"
}

/* .cajon .box {
    border: solid 1px black;
} */

.navbar {
    grid-area: sup;
    background-color: #ff933a;
    color: white;
    text-align: center;
    padding: 10px;
}

.asidebar {
    grid-area: menu;
    min-height: 80vh;
    text-align: center;
}

.asidebar h3 {
    padding: 10px;
}

.asidebar .categoria {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.categoria :hover {
    color: blue;
}

.asidebar .categoria .text {
    display: flex;
}

.asidebar .categoria .text p {
    padding-left: 5px;
    color: rgb(100, 100, 100);
}
.grilla {
    grid-area: grilla;
    background-color: #e7e6e6;
}

.grilla .card {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grilla .card .tarjeta {
    border-radius: 10px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    background-color: white;    
}

.grilla .card .tarjeta p{
    padding-bottom: 20px;
}

.grilla .card .tarjeta button {
    width: 100%;
    background-color: #ff933a;
    color: white;
    border-radius: 5px;
}

.grilla .card .tarjeta img {
    max-width: 250px;
    border-radius: 5px;
}
.pie {
    grid-area: pie;
    text-align: center;
    background-color: rgb(29, 43, 72);
    color: white;
    padding: 10px;
}